
* {box-sizing: border-box;}

body { 
  margin: 0;
 
}
body {
    background-color: paleturquoise;
  }
.Footer
{
    background-color:palegoldenrod;
    
}
.form
{
    background-clip: border-box;
    border: 1px solid black;
}
p.groove {border-style: groove;}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:grey;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: red;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }

  }